src/main/mule/schoolmarks.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c5c2b0a4-c5a4-457e-95f3-99bd4dd974d5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="schoolmarksFlow" doc:id="90ed3321-815d-4c48-a293-280a7b1861aa" >
		<http:listener doc:name="Listener" doc:id="6633a063-0a40-4536-bec2-1e841655ef43" config-ref="HTTP_Listener_config" path="school"/>
		<logger level="TRACE" doc:name="Logger" doc:id="066f5480-263e-4438-8603-8e3e43c08101" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="beb237e3-5da4-424d-a4cd-f825b8ab9314" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b1769b08-6b80-489d-ab5e-bdd68889e4bb" message="#[payload]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a3605a80-108d-4d11-a74d-23bbc4891aa9" />
	</flow>
</mule>
